@media(max-width: 1000px){
    .media{
        flex-direction: column;
    }
    .dark{
        height: 100%;
        width: 100%;
    }
}
@media(max-width: 470px){
    .dark{
        width: 100%;
    }
    .header{
        ul{
            flex-direction: column;
        }
    }
}
